<div class="container mt-5">
  <!-- Card for Student List -->
  <div class="card shadow">
    <div
      class="card-header bg-primary text-white d-flex justify-content-between align-items-center"
    >
      <h4 class="mb-0">Student List</h4>
      <button class="btn btn-warning btn-md text-white" routerLink="/student">
        + Add New Student
      </button>
    </div>
    <div class="card-body">
      <table
        class="table table-striped"
        *ngIf="students?.length > 0; else noStudentsFallback"
      >
        <thead class="table-primary">
          <tr>
            <th scope="col">NIM</th>
            <th scope="col">Full Name</th>
            <th scope="col">Age</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let student of students">
            <td>{{ student.nim }}</td>
            <td>
              <strong>{{ student.namaDepan }}</strong>
              {{ student.namaBelakang }}
            </td>
            <td>{{ getAge(student.tanggalLahir) }} years old</td>
            <td>
              <button
                class="btn btn-success btn-sm me-2"
                routerLink="/student/{{ student.id }}"
              >
                Edit
              </button>
              <button
                class="btn btn-danger btn-sm"
                data-bs-toggle="modal"
                data-bs-target="#exampleModal"
              >
                Delete
              </button>

              <!-- Modal -->
              <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">
                        Delete Student Data?
                      </h1>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      Are you sure want to delete this data? Deleted data cannot
                      be recovered.
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                      <button
                        type="button"
                        class="btn btn-danger"
                        data-bs-dismiss="modal"
                        (click)="deleteStudent(student.id)"
                      >
                        Delete
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- No students fallback -->
      <ng-template #noStudentsFallback>
        <div class="alert alert-warning text-center">
          No students found. Please add a new student.
        </div>
      </ng-template>
    </div>
  </div>
</div>
